<component name="ArtifactManager">
  <artifact type="war" name="SpringHelloworld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringHelloworld</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringHelloworld-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringHelloworld:war exploded" />
    </root>
  </artifact>
</component>